SUPABASE_URL=https://qbigrhdoaoyrclbiebpt.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiaWdyaGRvYW95cmNsYmllYnB0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjA1MjQ4OSwiZXhwIjoyMDkxNjI4NDg5fQ.LDPt4zqz_h2PnCVB47cBrdQe7MujLSI3RDx320dOkhQ
ML_SERVICE_URL=http://localhost:8001
ADMIN_JWT_SECRET=fbdsjgdnidsgndsgvnksgnvsnvjn
ADMIN_PHONES=9000000000,9000000001
