VITE_SUPABASE_URL=https://qbigrhdoaoyrclbiebpt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFiaWdyaGRvYW95cmNsYmllYnB0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwNTI0ODksImV4cCI6MjA5MTYyODQ4OX0.QN5VKkTESX1qyGNvoEpzKZt2Zn0s8rAx85FOVP72G_M
